@import 'tailwindcss';

@theme inline {
  --color-background: #09090b; /* zinc-950 */
  --color-foreground: #fafafa;
  --color-card: #18181b; /* zinc-900 */
  --color-card-foreground: #fafafa;
  --color-primary: #0d9488; /* teal-600 */
  --color-primary-foreground: #ffffff;
  --color-accent: #14b8a6; /* teal-500 */
  --color-muted: #27272a; /* zinc-800 */
  --color-muted-foreground: #a1a1aa;
  --color-border: #27272a;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
  @apply antialiased;
}
